.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
}
.client__avatar{
    margin: 2rem 0;
    /* width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant); */
}
.app__testimonial-contents{

 display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
 
}  

.testimonial{
   
    text-align: center;
    padding: 2rem;
    border-radius:2rem;
    user-select: none;
}

.testimonial h1{
    color: var(--color-golden);
    font-size: 40px;
}
.client__review {
    
    inline-size: 350px;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-golden) !important;
}
.testimonial h5{
    font-size: 25px;
    margin: 2rem 0;
    color: var(--color-golden);
}


 @media screen and (max-width:2000px) {
    .testimonial h5{
font-size: 40px;
    }
     
 }

@media screen and (max-width:405px) {
  .client__review{
      inline-size: 200px;
  }
} 
