.app__header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('file:///C:/Users/LENOVO/Downloads/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.app__header-h1{
    font-family: var(--font-base);
    color:white;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 60px;
}
/***form*/
form{
   width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
      background: rgba(0, 0, 0, 0.5);;
    border-radius: 8px;
}
form h1{
    margin: 0 0 30px 0;
    text-align: center;
    color: white;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
form button{
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1.5px solid rgba(240, 73, 7, 0.1);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
form button:hover,
form button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em ;
  transform: translateY(-0.25em);
}
fieldset{
    margin-bottom: 30px;
    border: none;
}
label{
    display: block;
    margin-bottom: 10px;
    color: white;
}

/****end of form **/
@media screen and (min-width:2000px) {
    .app__header-h1{
        font-size: 180px;
        line-height: 210px;
    }
    
}
@media screen and (max-width:1150px) {
    .app__header-h1{
        font-size: 90px;
    }
    
}
@media screen and (max-width:650px) {
    .app__header-h1{
        font-size: 70px;
        line-height: 87px;
    }
    form{
        width: 80;
    }
    
}
@media screen and (max-width:450px) {
    .app__header-h1{
        font-size: 50px;
        line-height: 70px;
    }
    form{
        max-width: 300px;
    }
    
}
